<!DOCTYPE html>

<html>

<head>
	<link type="text/css" rel="stylesheet" href="/static/main.css"/>
	<script src="/static/jquery.min.js"></script>
	<script src="/static/jquery.firefly.js"></script>
	<script src="/static/main.js"></script>
	<title>Project EarthSpirit</title>
</head>

<body>
<img class="source-image" src="img/background3.jpg" alt="" />
<audio autoplay>
  <source src="/static/forest.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>

<div class="outer">
	<div class="middle">
		<div class="inner">

			<form method="POST">
				<input class="username" type="text" name="username" placeholder="Username...">
				<input class="password" type="password" name="password" placeholder="Password...">
			</form>
		</div>
	</div>
</div>
</body>
</html>